meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")

title 
    block site_title
        = config.title
block description
    meta(name="description", content=config.description ? config.description : 'A Blog Powered By Hexo')

meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="icon", href=theme.favicon)
link(rel="stylesheet", href=config.root+"style/apollo.css")

link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css")
script(src="//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js")
script(src="//cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js")

- var xml = config.root + 'atom.xml'
    link(rel="search", type="application/opensearchdescription+xml", href=xml, title=config.title)
